@charset "UTF-8";
/*===== 변수 =====*/
/*===== 반응형 media-query =====*/
/* typo */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-rows: 60px 1fr;
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 100;
  height: 60px;
  background-color: #fff;
  position: relative;
}
body[data-theme=dark] #header {
  background-color: #000;
}

body[data-theme=mode1] #header {
  background-color: #222;
}

#header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#header .check-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

#header .btn-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

#header .btn-wrap .btn {
  padding: 10px 20px;
  font-size: 16px;
}

.guide-wrap {
  grid-area: content;
  position: relative;
  display: grid;
  grid-template-areas: "list" "view";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  overflow: auto;
  font-size: 0;
  line-height: 0;
  background-color: #f4f4f4;
}
body[data-theme=dark] .guide-wrap {
  background-color: #222;
}

body[data-theme=mode1] .guide-wrap {
  background-color: #03096e;
}

.guide-wrap .guide-list-wrap {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 20px;
  overflow: auto;
  border-right: 1px solid #ddd;
  background-color: #eee;
}
.guide-wrap .guide-view-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  overflow: auto;
}

.tree-ctrl {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
  margin: -10px -10px 5px;
}
.tree-ctrl .tree-btn {
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 16px;
  border: 1px solid #333;
  padding: 4px;
  border-radius: 4px;
}
.tree-ctrl .tree-btn i {
  width: 16px;
  height: 16px;
}
.tree-ctrl .tree-btn i svg {
  width: 16px;
  height: 16px;
}
.tree-ctrl .tree-btn.active {
  background-color: #333;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0 0;
}

.guide-icons .guide-icon-list {
  display: flex;
  gap: 10px;
}
.guide-icons .icon-item {
  display: flex;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
}
.guide-icons .icon-item i {
  height: 16px;
}
.guide-icons .icon-item i svg {
  width: 16px;
  height: 16px;
}
.guide-icons .icon-item .label {
  font-size: 12px;
  line-height: 16px;
}

.guide-table {
  font-size: 14px;
  line-height: 1.5;
  margin: 20px 0;
  text-align: center;
}

.guide-table th,
.guide-table td {
  border: 1px solid #ccc;
  border-left: 0;
  padding: 5px 10px;
}

.guide-table th:last-child,
.guide-table td:last-child {
  border-right: 0;
}

.guide-table th {
  background-color: #f4f4f4;
}

.guide-table tbody td:nth-child(2) {
  text-align: left;
}

a {
  text-decoration: underline;
}

.btn {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #326fe1;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.btn + .btn {
  margin-left: 0;
}

.guide-list-wrap .guide-list {
  margin: 5px 0 5px 5px;
  position: relative;
}
.guide-list-wrap .guide-list::before {
  display: block;
  position: absolute;
  left: -1px;
  bottom: 14px;
  width: 1px;
  height: calc(100% - 15px);
  border-left: 1px dashed #bbb;
  content: "";
}
.guide-list-wrap .guide-list .depth-item {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.guide-list-wrap .guide-list .depth-item .depth-anchor {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  line-height: 20px;
  cursor: pointer;
  gap: 5px;
}
.guide-list-wrap .guide-list .depth-item .depth-anchor i {
  height: 20px;
}
.guide-list-wrap .guide-list .depth-item .depth-anchor i svg {
  width: 20px;
  height: 20px;
}
.guide-list-wrap .guide-list .depth-item.active:not(.has) > .depth-anchor {
  font-weight: 700;
  color: #326fe1;
}
.guide-list-wrap .guide-list .depth-item.active:not(.has) > .depth-anchor i svg path,
.guide-list-wrap .guide-list .depth-item.active:not(.has) > .depth-anchor i svg rect {
  stroke: #326fe1;
  fill: #326fe1;
}
.guide-list-wrap .guide-list .depth-item.active.has > .depth-anchor {
  font-weight: 700;
}
.guide-list-wrap .guide-list .depth-item::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 11px;
  width: 8px;
  height: 1px;
  border-bottom: 1px dashed #bbb;
}
.guide-list-wrap .guide-list .depth-list {
  position: relative;
  margin-left: 8px;
}
.guide-list-wrap .guide-list .depth-list::before {
  display: block;
  position: absolute;
  left: -1px;
  bottom: 13px;
  width: 1px;
  height: calc(100% - 10px);
  border-left: 1px dashed #bbb;
  content: "";
}

.guide-view-wrap .view-info table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-collapse: collapse;
}
.guide-view-wrap .view-info table th,
.guide-view-wrap .view-info table td {
  border-bottom: 1px solid #ddd;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
.guide-view-wrap .view-info table th {
  background-color: #f1f1f1;
}
.guide-view-wrap .view-info table td {
  background-color: #fff;
}
.guide-view-wrap .view-info table .name-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.guide-view-wrap .view-list {
  display: flex;
  gap: 5px;
  margin: 20px 0;
}
.guide-view-wrap .view-list .view-btn {
  border: 1px solid #999;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
}
.guide-view-wrap .view-list .view-btn.active {
  border-color: #326fe1;
  background-color: #326fe1;
  color: #fff;
  font-weight: 600;
}
.guide-view-wrap .viewer #pub-viewer {
  width: 1280px;
  height: 900px;
  border: 1px solid #999;
  transition: all 0.2s;
}

#mode {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 20px;
  gap: 5px;
  width: 80px;
}
#mode .mode-btn {
  width: 100%;
  height: 32px;
  display: block;
  font-size: 12px;
  line-height: 1;
  padding: 4px 10px;
  background-color: #ddd;
  font-weight: 500;
}
#mode .mode-btn.active {
  background-color: #333;
  color: #fff;
}/*# sourceMappingURL=pub-list.css.map */